body {
    background-image: url('../static/background.jpg');
    background-repeat: repeat;
    background-position: top;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    color: rgb(76, 10, 134);
}
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(172, 8, 8);
}
.login {
    text-align: center;
    margin: auto;
}
.rooms {
    text-align: center;
    margin: auto;
}
.chatroom {
    text-align: center;
    margin: auto;
}